<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3YTlkNGViNDlhMGYzMTBmZTJlM2MzYWI1ZDliNWU5ZSIsIm5iZiI6MTcwMjY2MTkzOC45MjIsInN1YiI6IjY1N2M4ZjMyNTY0ZWM3MDEzOGJlM2FiMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.hayY3iHiBLBPh6kURLGWPHS9phPY8VooJi0eRT8fE-Q</string>
</dict>
</plist>
